/* MISCALLANEOUS */

body {
  position: relative;
  margin: 0;
  font-family: "News Cycle", sans-serif;
}
.body-bg-dark {
  background-color: #383f46;
}
.font-dark {
  color: #ececec;
}
.section-title {
  margin: 35px 5% 0;
  font-weight: bold;
}

/* HEADER */

.site-title {
  font-family: "Arvo", serif;
  font-weight: bold;
}
.header a {
  text-decoration: none;
  color: #8c8f91;
}
.header a:hover {
  color: #8599f2;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.header-icon {
  color: #8599f2;
}
.header-icon-dark {
  color: #f5768f;
}

/* RECENT NEWS */

.news-Card {
  margin: 50px auto 25px;
  width: 22rem;
}
.card-title {
  padding: 5% 0;
  color: #8599f2;
  margin: 0;
}
.story-date {
  color: gray;
}
.recent-stories {
  margin: 100px 0 25px;
}
.news-Card-Dark {
  background-color: #323b47;
  border-color: transparent;
}
.card-Body-Style {
  background-color: #fbf9f9;
}
.card-img {
  background-color: whitesmoke;
  background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 250px;
  height: 250px;
}
.card-Img-Dark {
  background-color: #394350;
  background: url(blah.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
  width: 300px;
  height: 300px;
}
.card-bottom-sec {
  background-color: #363f4b;
}
.btn-dark-mode {
  background-color: #363f4b;
}

/* SOURCE INFO */

.source-info i {
  font-size: 5rem;
  margin: 0 auto 15px;
}
.source-elab {
  text-align: center;
  margin: 100px 0;
}

.source-info h4 {
  font-weight: bold;
  margin: 15px auto;
}

/* WRITER INFO */

.writer-img {
  width: 35%;
  border-radius: 25%;
  float: left;
  padding: 25px 15px;
}
.writer-name {
  padding-top: 25px;
}
.writer-desc {
  color: gray;
}
.dark-icon {
  color: whitesmoke;
}

/* FOOTER */

.footer {
  margin: 30px auto 0;
  text-align: center;
  background-color: #f8f9fa;
  padding: 50px 0;
}
.footer-dark {
  background-color: #343a40;
}
.footer-icon {
  color: gray;
  font-size: 1.5rem;
  margin: 0 15px;
}
.footer-icon:hover {
  color: #8599f2;
}

/* SCREEN SIZE ALTERATIONS */

@media (max-width: 980px) {
  .source-elab {
    margin-top: 25px auto;
    max-width: 33%;
  }
}

/* STORY LIST STYLING */

.story-list-item img {
  width: 7rem;
  float: left;
  margin-right: 15px;
  display: inline;
}
.story-list-item h3 {
  font-weight: bolder;
  margin: 25px 0;
  color: #8599f2;
}
.story-list-item p {
  margin: 25px 0;
  color: gray;
}
.story-list {
  margin: 65px 0;
}
.story-list-item {
  display: inline;
  vertical-align: middle;
}
.sub-text-dark {
  padding: 5% 0;
  color: #f5768f;
  margin: 0;
}
